<form>
    <div class="form-group">
        <label>{{localize "PF2E.SpellcastingTypeLabel"}}</label>
        <select name="spellcastingType" {{#if entry}}disabled{{/if}}>
        {{#select spellcastingType}}
        {{#each spellcastingTypes as |label mode|}}
            <option value="{{mode}}">{{localize label}}</option>
        {{/each}}
        {{/select}}
        </select>
    </div>
    <div class="form-group tradition-group">
        <label>{{localize "PF2E.MagicTraditionLabel"}}</label>
        <select name="magicTradition">
        {{#select magicTradition}}
        {{#each magicTraditions as |label mode|}}
            <option value="{{mode}}">{{localize label}}</option>
        {{/each}}
        {{/select}}
        </select>
    </div>
</form>
